<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>four_00</key>
    <string>four_00.glif</string>
    <key>one_00</key>
    <string>one_00.glif</string>
    <key>two_00</key>
    <string>two_00.glif</string>
  </dict>
</plist>
