<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>foreground</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>background</string>
      <string>glyphs.background</string>
    </array>
    <array>
      <string>wght</string>
      <string>glyphs.wght</string>
    </array>
    <array>
      <string>M_D_bo_1_layer</string>
      <string>glyphs.M__D__bo_1_layer</string>
    </array>
    <array>
      <string>T_H_bo_2_layer</string>
      <string>glyphs.T__H__bo_2_layer</string>
    </array>
    <array>
      <string>X_X_bo_3_layer</string>
      <string>glyphs.X__X__bo_3_layer</string>
    </array>
    <array>
      <string>X_X_la_4_layer</string>
      <string>glyphs.X__X__la_4_layer</string>
    </array>
    <array>
      <string>T_D_bo_1_layer</string>
      <string>glyphs.T__D__bo_1_layer</string>
    </array>
    <array>
      <string>X_X_bo_2_layer</string>
      <string>glyphs.X__X__bo_2_layer</string>
    </array>
    <array>
      <string>X_X_la_3_layer</string>
      <string>glyphs.X__X__la_3_layer</string>
    </array>
    <array>
      <string>BR_H_lo_1_layer</string>
      <string>glyphs.B_R__H__lo_1_layer</string>
    </array>
    <array>
      <string>B_H_hi_2_layer</string>
      <string>glyphs.B__H__hi_2_layer</string>
    </array>
    <array>
      <string>T_DV_co_3_layer</string>
      <string>glyphs.T__D_V__co_3_layer</string>
    </array>
    <array>
      <string>X_D_bo_4_layer</string>
      <string>glyphs.X__D__bo_4_layer</string>
    </array>
    <array>
      <string>X_H_bo_5_layer</string>
      <string>glyphs.X__H__bo_5_layer</string>
    </array>
    <array>
      <string>X_V_bo_6_layer</string>
      <string>glyphs.X__V__bo_6_layer</string>
    </array>
    <array>
      <string>X_X_la_7_layer</string>
      <string>glyphs.X__X__la_7_layer</string>
    </array>
    <array>
      <string>X_X_bo_1_layer</string>
      <string>glyphs.X__X__bo_1_layer</string>
    </array>
    <array>
      <string>X_X_la_2_layer</string>
      <string>glyphs.X__X__la_2_layer</string>
    </array>
    <array>
      <string>B_D_bo_1_layer</string>
      <string>glyphs.B__D__bo_1_layer</string>
    </array>
    <array>
      <string>T_H_lo_1_layer</string>
      <string>glyphs.T__H__lo_1_layer</string>
    </array>
    <array>
      <string>BR_H_bo_1_layer</string>
      <string>glyphs.B_R__H__bo_1_layer</string>
    </array>
    <array>
      <string>BR_H_lo_2_layer</string>
      <string>glyphs.B_R__H__lo_2_layer</string>
    </array>
    <array>
      <string>M_D_bo_3_layer</string>
      <string>glyphs.M__D__bo_3_layer</string>
    </array>
    <array>
      <string>X_X_bo_4_layer</string>
      <string>glyphs.X__X__bo_4_layer</string>
    </array>
    <array>
      <string>X_X_la_5_layer</string>
      <string>glyphs.X__X__la_5_layer</string>
    </array>
    <array>
      <string>bold</string>
      <string>glyphs.bold</string>
    </array>
    <array>
      <string>extended</string>
      <string>glyphs.extended</string>
    </array>
    <array>
      <string>topbold</string>
      <string>glyphs.topbold</string>
    </array>
    <array>
      <string>connectbottom</string>
      <string>glyphs.connectbottom</string>
    </array>
    <array>
      <string>diabold</string>
      <string>glyphs.diabold</string>
    </array>
    <array>
      <string>diaweight</string>
      <string>glyphs.diaweight</string>
    </array>
    <array>
      <string>horibold</string>
      <string>glyphs.horibold</string>
    </array>
    <array>
      <string>longbar</string>
      <string>glyphs.longbar</string>
    </array>
    <array>
      <string>connectop</string>
      <string>glyphs.connectop</string>
    </array>
    <array>
      <string>crossbar</string>
      <string>glyphs.crossbar</string>
    </array>
    <array>
      <string>vertibold</string>
      <string>glyphs.vertibold</string>
    </array>
    <array>
      <string>botbold</string>
      <string>glyphs.botbold</string>
    </array>
  </array>
</plist>
