<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>uni0030</key>
    <string>uni0030.glif</string>
    <key>uni0030.inf</key>
    <string>uni0030.inf.glif</string>
    <key>uni0030.of</key>
    <string>uni0030.of.glif</string>
    <key>uni0030.sc</key>
    <string>uni0030.sc.glif</string>
    <key>uni0030.sup</key>
    <string>uni0030.sup.glif</string>
    <key>uni0030.tab</key>
    <string>uni0030.tab.glif</string>
    <key>uni0031</key>
    <string>uni0031.glif</string>
    <key>uni0031.inf</key>
    <string>uni0031.inf.glif</string>
    <key>uni0031.of</key>
    <string>uni0031.of.glif</string>
    <key>uni0031.sc</key>
    <string>uni0031.sc.glif</string>
    <key>uni0031.sup</key>
    <string>uni0031.sup.glif</string>
    <key>uni0031.tab</key>
    <string>uni0031.tab.glif</string>
    <key>uni0032</key>
    <string>uni0032.glif</string>
    <key>uni0032.inf</key>
    <string>uni0032.inf.glif</string>
    <key>uni0032.of</key>
    <string>uni0032.of.glif</string>
    <key>uni0032.sc</key>
    <string>uni0032.sc.glif</string>
    <key>uni0032.sup</key>
    <string>uni0032.sup.glif</string>
    <key>uni0032.tab</key>
    <string>uni0032.tab.glif</string>
    <key>uni0033</key>
    <string>uni0033.glif</string>
    <key>uni0033.inf</key>
    <string>uni0033.inf.glif</string>
    <key>uni0033.of</key>
    <string>uni0033.of.glif</string>
    <key>uni0033.sc</key>
    <string>uni0033.sc.glif</string>
    <key>uni0033.sup</key>
    <string>uni0033.sup.glif</string>
    <key>uni0033.tab</key>
    <string>uni0033.tab.glif</string>
    <key>uni0034</key>
    <string>uni0034.glif</string>
    <key>uni0034.inf</key>
    <string>uni0034.inf.glif</string>
    <key>uni0034.of</key>
    <string>uni0034.of.glif</string>
    <key>uni0034.sc</key>
    <string>uni0034.sc.glif</string>
    <key>uni0034.sup</key>
    <string>uni0034.sup.glif</string>
    <key>uni0034.tab</key>
    <string>uni0034.tab.glif</string>
    <key>uni0035</key>
    <string>uni0035.glif</string>
    <key>uni0035.inf</key>
    <string>uni0035.inf.glif</string>
    <key>uni0035.of</key>
    <string>uni0035.of.glif</string>
    <key>uni0035.sc</key>
    <string>uni0035.sc.glif</string>
    <key>uni0035.sup</key>
    <string>uni0035.sup.glif</string>
    <key>uni0035.tab</key>
    <string>uni0035.tab.glif</string>
    <key>uni0036</key>
    <string>uni0036.glif</string>
    <key>uni0036.inf</key>
    <string>uni0036.inf.glif</string>
    <key>uni0036.of</key>
    <string>uni0036.of.glif</string>
    <key>uni0036.sc</key>
    <string>uni0036.sc.glif</string>
    <key>uni0036.sup</key>
    <string>uni0036.sup.glif</string>
    <key>uni0036.tab</key>
    <string>uni0036.tab.glif</string>
    <key>uni0037</key>
    <string>uni0037.glif</string>
    <key>uni0037.inf</key>
    <string>uni0037.inf.glif</string>
    <key>uni0037.of</key>
    <string>uni0037.of.glif</string>
    <key>uni0037.sc</key>
    <string>uni0037.sc.glif</string>
    <key>uni0037.sup</key>
    <string>uni0037.sup.glif</string>
    <key>uni0037.tab</key>
    <string>uni0037.tab.glif</string>
    <key>uni0038</key>
    <string>uni0038.glif</string>
    <key>uni0038.inf</key>
    <string>uni0038.inf.glif</string>
    <key>uni0038.of</key>
    <string>uni0038.of.glif</string>
    <key>uni0038.sc</key>
    <string>uni0038.sc.glif</string>
    <key>uni0038.sup</key>
    <string>uni0038.sup.glif</string>
    <key>uni0038.tab</key>
    <string>uni0038.tab.glif</string>
    <key>uni0039</key>
    <string>uni0039.glif</string>
    <key>uni0039.inf</key>
    <string>uni0039.inf.glif</string>
    <key>uni0039.of</key>
    <string>uni0039.of.glif</string>
    <key>uni0039.sc</key>
    <string>uni0039.sc.glif</string>
    <key>uni0039.sup</key>
    <string>uni0039.sup.glif</string>
    <key>uni0039.tab</key>
    <string>uni0039.tab.glif</string>
  </dict>
</plist>
